<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.modules.wallet.mapper.AppUserGoldChangeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fund.modules.wallet.model.AppUserGoldChange">
        <id column="id" property="id" />
        <result column="serial_no" property="serialNo" />
        <result column="user_id" property="userId" />
        <result column="top_user_id" property="topUserId" />
        <result column="asset_type" property="assetType" />
        <result column="user_account" property="userAccount" />
        <result column="change_type" property="changeType" />
        <result column="before_amount" property="beforeAmount" />
        <result column="after_amount" property="afterAmount" />
        <result column="amount" property="amount" />
        <result column="op_note" property="opNote" />
        <result column="create_time" property="createTime" />
        <result column="user_group" property="userGroup" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_no, user_id, top_user_id, asset_type, user_account, change_type, before_amount, after_amount, amount, op_note, create_time, user_group
    </sql>

</mapper>
