<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.modules.wallet.mapper.AppUserCashInOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fund.modules.wallet.model.AppUserCashInOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_group" property="userGroup" />
        <result column="user_account" property="userAccount" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="top_user_id" property="topUserId" />
        <result column="ip" property="ip" />
        <result column="order_no" property="orderNo" />
        <result column="apply_time" property="applyTime" />
        <result column="apply_amount" property="applyAmount" />
        <result column="remark" property="remark" />
        <result column="remit_time" property="remitTime" />
        <result column="cash_status" property="cashStatus" />
        <result column="reason" property="reason" />
        <result column="operator_user" property="operatorUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_group, user_account, mobile_phone, top_user_id, ip, order_no, apply_time, apply_amount, remark, remit_time, cash_status, reason, operator_user, update_time
    </sql>

</mapper>
