<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.modules.financial.mapper.FinancialSwiperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fund.modules.financial.model.FinancialSwiper">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="img_url" property="imgUrl" />
        <result column="is_link" property="isLink" />
        <result column="link_type" property="linkType" />
        <result column="link_url" property="linkUrl" />
        <result column="is_new_tab" property="isNewTab" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, img_url, is_link, link_type, link_url, is_new_tab, sort, create_time, create_by, update_time, update_by
    </sql>

</mapper>
