<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fund.modules.sys.mapper.SysCsLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fund.modules.sys.model.SysCsLink">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="enable" property="enable" />
        <result column="create_time" property="createTime" />
        <result column="link" property="link" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, enable, create_time, link, update_by, update_time
    </sql>

</mapper>
